.jumbotron {
	height: 750px;
	margin-top: 82px;
	background: linear-gradient(180deg, rgba(242, 249, 255, 0.12) 0%, #F2F9FF 100%);
	border-radius: 0px;
	text-align: center;
}

h1 {
	text-align: center;
	font-family: Halyard Text;
	font-style: normal;
	font-weight: 500;
	font-size: 56px;
	line-height: 105%;
	color: #1E266D;
	margin-top: 50px;
}

h2 {
	text-align: center;
	font-family: Halyard Text;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 150%;
	color: #455880;
	margin-top: 10px;
}

.btn1 {
	width: 100px;
	height: 30px;
	background: #3751FF;
	border-radius: 70px;
	margin-top: 20px;
}

.btn2 {
	width: 140px;
	height: 30px;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
	border-radius: 100px;
	margin-top: 20px;
}

.text {
	font-family: Halyard Text;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
	/* identical to box height, or 16px */

	display: flex;
	align-items: center;
	text-align: center;
	color: #FFFFFF;
}

.text1 {
	font-family: Halyard Text;
	top: -10px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 100%;
	/* identical to box height, or 312% */

	text-align: center;
	color: #455880;
}

.img-fluid {
	position: absolute;
	width: 70%;
	height: auto;
	left: 220px;
	top: 400px;
}

/*for mobile*/
@media (max-width: 480px) {
	h1 {
		font-size: 39px;
	}
	h2{
		font-size: 17px;
	}
	.img-fluid {
		width: 90%;
		height: auto;
		left: 34px;
		top: 456px;
	}
}

/*for tablets*/
@media (min-width: 481px) and (max-width: 1024px) {
	.img-fluid {
		width: 100%;
		height: auto;
		left: 24px;
		top: 461px;
	}
}